CONFIG_RMT_TX_GPIO=21
CONFIG_STRIP_LED_NUMBER=5
CONFIG_ESP_WIFI_SSID="your_ssid"
CONFIG_ESP_WIFI_PASSWORD="your_password"

CONFIG_MAIN_TASK_STACK_SIZE=4096

CONFIG_BT_ENABLED=y
CONFIG_ESP32_WIFI_SW_COEXIST_ENABLE=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

CONFIG_SPI_FLASH_USE_LEGACY_IMPL=y # Only needed for 2MB NINA-W10 modules, otherwise can be removed