menu "Gesture Detector Macro Keyboard"
    config RMT_TX_GPIO
        int "RMT TX GPIO"
        default 16
        help
            Set the GPIO number used for transmitting the RMT signal.
    config STRIP_LED_NUMBER
        int "Number of LEDS in a strip"
        default 5
        help
            Number of leds in your strip
    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (WiFi name) to connect to.
    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password to use.
endmenu