menu "Led Wall Decor project"
    config RMT_TX_GPIO
        int "RMT TX GPIO"
        default 16
        help
            Set the GPIO number used for transmitting the RMT signal.
    config STRIP_LED_NUMBER
        int "Number of LEDS in a strip"
        default 5
        help
            Number of leds in your strip
endmenu